.menu {
  position: relative;
  .menu-items {
    .menu-item {
      width: 45%;
      margin-bottom: 20px;

      .image-container {
        border-radius: 25px;
        img {
          border-radius: 25px;
        }
      }
    }
  }

  .cart-info {
    background-color: #f68512;
    color: #fff;
    position: fixed;
    bottom: 0;
    z-index: 1;
  }
}
